In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/content/train_indessa.csv')
df.head()

   member_id  loan_amnt  ...  total_rev_hi_lim  loan_status
0   58189336      14350  ...           30800.0            0
1   70011223       4800  ...           32900.0            0
2   70255675      10000  ...           34900.0            0
3    1893936      15000  ...           24700.0            0
4    7652106      16000  ...           47033.0            0

[5 rows x 45 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532428 entries, 0 to 532427
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   member_id                    532428 non-null  int64
 1   loan_amnt                    532428 non-null  int64
 2   funded_amnt                  532428 non-null  int64
 3   funded_amnt_inv              532428 non-null  float64
 4   term                         532428 non-null  object
 5   batch_enrolled               447279 non-null  object
 6   int_rate                     532428 non-null  float64
 7   grade                        532428 non-null  object
 8   sub_grade                    532428 non-null  object
 9   emp_title                    501595 non-null  object
 10  emp_length                   505537 non-null  object
 11  home_ownership               532428 non-null  object
 12  annual_inc                   532425 non-null  float64
 13  verification_status          532428 non-null  object
 14  pymnt_plan                   532428 non-null  object
 15  desc                         75599 non-null   object
 16  purpose                      532428 non-null  object
 17  title                        532338 non-null  object
 18  zip_code                     532428 non-null  object
 19  addr_state                   532428 non-null  object
 20  dti                          532428 non-null  float64
 21  delinq_2yrs                  532412 non-null  float64
 22  inq_last_6mths               532412 non-null  float64
 23  mths_since_last_delinq       259874 non-null  float64
 24  mths_since_last_record       82123 non-null   float64
 25  open_acc                     532412 non-null  float64
 26  pub_rec                      532412 non-null  float64
 27  revol_bal                    532428 non-null  float64
 28  revol_util                   532141 non-null  float64
 29  total_acc                    532412 non-null  float64
 30  initial_list_status          532428 non-null  object
 31  total_rec_int                532428 non-null  float64
 32  total_rec_late_fee           532428 non-null  float64
 33  recoveries                   532428 non-null  float64
 34  collection_recovery_fee      532428 non-null  float64
 35  collections_12_mths_ex_med   532333 non-null  float64
 36  mths_since_last_major_derog  132980 non-null  float64
 37  application_type             532428 non-null  object
 38  verification_status_joint    305 non-null     object
 39  last_week_pay                532428 non-null  object
 40  acc_now_delinq               532412 non-null  float64
 41  tot_coll_amt                 490424 non-null  float64
 42  tot_cur_bal                  490424 non-null  float64
 43  total_rev_hi_lim             490424 non-null  float64
 44  loan_status                  532428 non-null  int64
dtypes: float64(23), int64(4), object(18)
memory usage: 182.8+ MB

In [6]:
df['loan_status'].value_counts()

0    406601
1    125827
Name: loan_status, dtype: int64

In [14]:
df1 = df[['member_id','loan_amnt', 'int_rate', 'home_ownership', 'annual_inc', 'purpose', 'dti', 'addr_state', 'revol_util', 'revol_bal', 'total_acc', 'total_rec_int', 'application_type', 'tot_cur_bal', 'total_rev_hi_lim', 'loan_status']]

In [15]:
df1 = df1.dropna()
df1.shape

(490207, 16)

In [16]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df1['home_ownership'] = labelencoder.fit_transform(df1['home_ownership'])
df1['purpose'] = labelencoder.fit_transform(df1['purpose'])
df1['addr_state'] = labelencoder.fit_transform(df1['addr_state'])
df1['application_type'] = labelencoder.fit_transform(df1['application_type'])

In [8]:
df1.tail()

        loan_amnt  int_rate  ...  total_rev_hi_lim  loan_status
532423      20000     12.49  ...           24800.0            0
532424      12000     14.99  ...           17800.0            0
532425      18725     20.80  ...           24200.0            1
532426      21000     16.29  ...           23300.0            0
532427      10000      6.39  ...           21700.0            0

[5 rows x 15 columns]

In [17]:
df1['loan_status'].value_counts()

0    397758
1     92449
Name: loan_status, dtype: int64

In [18]:
df1 = df1.sample(frac = 1)
df1 = df1.reset_index(drop=True)

In [19]:
data0 = df1.loc[df1['loan_status'] == 0]
data1 = df1.loc[df1['loan_status'] == 1]

In [20]:
data0 = data0.head(100000)
df2 = data0.append(data1)

In [21]:
df2 = df2.sample(frac = 1)
df2 = df2.reset_index(drop=True)
df2.shape

(192449, 16)

In [22]:
train = df1.iloc[:150000]
# test = df1.iloc[250000:350000]
val = df1.iloc[150000:]

In [23]:
x_train = train.iloc[:,:-1]
y_train = train.iloc[:,-1:]

# x_test = test.iloc[:,:-1]
# y_test = test.iloc[:,-1:]

x_val = val.iloc[:,:-1]
y_val = val.iloc[:,-1:]

In [24]:
x_train = x_train.values
y_train = y_train.values
# x_test = x_test.values
# y_test = y_test.values
x_val = x_val.values
y_val = y_val.values

In [35]:
test_df = pd.read_csv('/content/test_indessa.csv')
test = test_df[['member_id', 'loan_amnt', 'int_rate', 'home_ownership', 'annual_inc', 'purpose', 'dti', 'addr_state', 'revol_util', 'revol_bal', 'total_acc', 'total_rec_int', 'application_type', 'tot_cur_bal', 'total_rev_hi_lim']]
test.head()

   member_id  loan_amnt  ...  tot_cur_bal total_rev_hi_lim
0   11937648      14000  ...      85230.0          45700.0
1   38983318      16000  ...     444991.0          21400.0
2   27999917      11050  ...     105737.0          16300.0
3   61514932      35000  ...     287022.0          72400.0
4   59622821       6500  ...     234278.0          26700.0

[5 rows x 15 columns]

In [36]:
test['home_ownership'] = labelencoder.fit_transform(test['home_ownership'])
test['purpose'] = labelencoder.fit_transform(test['purpose'])
test['addr_state'] = labelencoder.fit_transform(test['addr_state'])
test['application_type'] = labelencoder.fit_transform(test['application_type'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [37]:
test = test.dropna()

In [29]:
test.head()

   loan_amnt  int_rate  ...  tot_cur_bal  total_rev_hi_lim
0      14000     16.24  ...      85230.0           45700.0
1      16000      9.49  ...     444991.0           21400.0
2      11050     15.61  ...     105737.0           16300.0
3      35000     12.69  ...     287022.0           72400.0
4       6500      6.89  ...     234278.0           26700.0

[5 rows x 14 columns]

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
lr = LogisticRegression()
lr.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support as score
y_pred = lr.predict(x_val)
print("LR accuracy",accuracy_score(y_val, y_pred))

LR accuracy 0.8179755266646482

In [33]:
precision, recall, fscore, support = score(y_val, y_pred)

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

precision: [0.82120812 0.66690052]
recall: [0.9913955  0.07391338]
fscore: [0.89831227 0.13307761]
support: [275902  64305]

In [38]:
pred = lr.predict(test)

In [42]:
# pred = pred.tolist()
len(pred)
print(pred[10])

0

In [40]:
mem_id = test['member_id'].tolist()
len(mem_id)

326515

In [43]:
sub = pd.DataFrame()
sub['member_id'] = mem_id
sub['loan_status'] = pred
sub.to_csv('submission.csv', index=False)